# string

# string concatenation

In [1]:
first_name="manni"
last_name="deol"
name=first_name+last_name #string concatenation
print(name)

mannideol

In [2]:
name=first_name+" "+last_name
print(name)

manni deol

In [3]:
print(first_name+3) #we can't add a no to string

TypeError: must be str, not int

In [6]:
print(first_name+"3") 
print(first_name+str(3)) #str():-it convert data into string

manni3
manni3

In [7]:
print(first_name*3)

mannimannimanni

# User Input

#input():-it takes input as a string

In [14]:
name=input("enter your name:")
print("my name is"+name) #here it takes input as a string
print("my name is"+" "+name) # here it concatenate name to string(my name is).

enter your name:manni
my name ismanni
my name is manni

In [15]:
age=input("what is your age?") #19 :- "19"
print("my age is:"+" "+age) #you can only add a string to a string(not an int to string)

what is your age?19
my age is: 19

# here you enter 19 as int but input takes it as string(convert it to string)
and print() concatenate string 19 to(my age is:)

In [1]:
number_one=input("enter first number :")
number_two=input("enter second number:")
total=number_one+number_two
print("total sum is:"+total)

enter first number :4
enter second number:4
total sum is:44

# int() , float() ,str()

In [2]:
number_one=int(input("enter first number :"))
number_two=int(input("enter second number:"))
total=number_one+number_two
print("total sum is:"+total)

enter first number :4
enter second number:4

TypeError: must be str, not int

In [3]:
number_one=int(input("enter first number :"))
number_two=int(input("enter second number:"))
total=number_one+number_two
print("total sum is:"+str(total))

enter first number :4
enter second number:4
total sum is:8

# str:- 4--->"4" , int() :"4"--->4 , float :"4"--->4.0

In [4]:
number1=str(4)
number2=int("4")
number3=float("4")
print(number2+number3)

8.0

# we can add int with float but output is float.

In [8]:
n=int(4.67)
s=float(5)
print(n,s)

4 5.0

# declaration and initialization of more than one variable in a one line

In [10]:
name, age="manni",19
print("my name is:"+name , "my age is:"+age)

TypeError: must be str, not int

In [15]:
name, age="manni","19"
print("my name is:"+name+" ", "my age is:"+age)

my name is:manni  my age is:19

In [16]:
x=y=z=2;
print(x,y,z)

2 2 2

# Two or more input in a one line

In [20]:
name,age=input("enter your name and age:").split()#here you have to provide space
print(name,age)

enter your name and age:manni 19
manni 19

In [19]:
name,age=input("enter your name and age:").split(",") #here in input you have to provide comma
print(name,age)                                       #else you got an error

enter your name and age:manni,19
manni 19

# string formatting

In [24]:
#python3
name, age="manni",19
print("my name is:"+name+" ", "my age is:"+str(age))
print("my name is: {}  my age is: {} ".format(name,age))
print("my name is: {}  my age is: {} ".format(name,age+4))

my name is:manni  my age is:19
my name is: manni  my age is: 19
my name is: manni  my age is: 23

#Here you need not worry about to convert int to string
{}:-placeholder

In [28]:
#python3.6
print(f"my name is: {name}  my age is: {age}")
print(f"my name is: {name}  my age is: {age+4}")

my name is: manni  my age is: 19
my name is: manni  my age is: 23

# chapter 2 question
ask user to input 3 number and you have to print average of 3 numbers using string formatting
Bonus:-try to take all 3 comma seperated inputs in one line

In [20]:
number1,number2,number3=input("enter 3 no").split(",")
average=(int(number1)+int(number2)+int(number3))/3;
print("average of number is:{}".format(average))#python3
print(f"average of number is:{average}")#puthon3.6

enter 3 no2,3,4
average of number is:3.0
average of number is:3.0

# string indexing

In [3]:
language ="python"

#position(index number) # negative indexing is used when you want to print last character and you 
p = 0   -6               do not know the length of string.
y = 1   -5
t = 2   -4
h = 3   -3
o = 4   -2
n = 5   -1

In [4]:
print(language[2])
print(language[-4])

t
t

# string slicing

print more than one character of string at a time.

# syntax:- [start argument : stop argument-1]

In [19]:
print(language[0:4])# it include 0 but exclude 4th position.it print from 0th position to 3rd position.
print(language[-6:-1])
print(language[-6:1])
print(language[0:5])
print(language[0:6])
print(language[:])
print(language[0:])
print(language[:5])
print(language[3:])

pyth
pytho
p
pytho
python
python
python
pytho
hon

# by default start argument is 0 and last is the last_index+1;
it include start_argument but it will exclude last_argument i.e. it will print from start_argument to last_argument -1 .

# step argument
# syntax:-[start argument : stop argument-1: step]

In [26]:
print("mannideol"[0:8:2])
print("mannideol"[:8:2])
print("mannideol"[::2])
print("mannideol"[8::-1])# trick to reverse a string

mnie
mnie
mniel
loedinnam

# trick to reverse a string

In [29]:
print("mannideol"[8::-1])
print("mannideol"[-1: :-1])# trick to reverse a string
print("mannideol"[::-1])

loedinnam
loedinnam
loedinnam

#question2 :- ask user name and print back user name in reverse order
Note:-try to make program your program in 2 lines using string formatting

In [28]:
name=input("enter your name:")
print(f"my name in reverse order is :{name[-1::-1]}")

enter your name:mannideol
my name in reverse order is :loedinnam

# string methods:-

In [30]:
#1> len():-function
length=len("manni deol")
print(length)

10

In [32]:
#2> lower() method
name="ManNi dEoL"
name.lower()

'manni deol'

In [3]:
#3> upper() method
name="manNi dEoL"
name.upper()
name[0].upper()
print(name)

manNi dEoL

In [34]:
#4> title() method  :-starting letter capital of words
name="ManNi dEoL"
name.title()

'Manni Deol'

In [39]:
#4> count() #it count no of occurence of a character in a string
name="ManNi dEoLaa"# it treats capital and small letter differntly
name.count("n")

1

In [40]:
name.count("a")

3

#question 3:- take two comma seperated input from user
1>user's name :eg:-"manNideolnAN"
2>a single character: eg:-"n"

#output :-2 print lines
1>user's name length
2>count the character that user inputed(bonus: case insensitive count)

In [49]:
name,char=input("enter your name and also a character which you want to count :").split(",")
length=len(name)
print(f"length of user name:{length}")
t=name.lower().count("n")
print(f"occurence of character 'n' in name is:{t}")

enter your name and also a character which you want to count :manNideolnAN,n
length of user name:12
occurence of character 'n' in name is:4

In [59]:
name,char=input("enter your name and also a character which you want to count :").split(",")
print(f"length of user name:{len(name)}")
print(f"occurence of character 'n' in name is:{name.lower().count(char.lower())}")

enter your name and also a character which you want to count :manNideolnAN,n
length of user name:12
occurence of character 'n' in name is:4

In [1]:
name,char=input("enter your name and also a character which you want to count :").split(",")
print(f"length of user name:{len(name)}")
print(f"occurence of character 'n' in name is:{name.lower().count(char.lower())}")

enter your name and also a character which you want to count :manNideolnAN, n
length of user name:12
occurence of character 'n' in name is:0

#here in above eg char 'n' count is 0 as at time of enter if we provide space then it conclude it also ('n'----> ' n').It searches ' n' space n not n.so occurence is zero. to remove spaces we study a new function.

In [2]:
name,char=input("enter your name and also a character which you want to count :").split(",")
print(f"length of user name:{len(name)}")
print(f"length of user name after removing spaces:{len(name.rstrip())}")
print(f"occurence of character 'n' in name is:{name.strip().lower().count(char.strip().lower())}")

enter your name and also a character which you want to count :manNideolnAN   ,   N
length of user name:15
length of user name after removing spaces:12
occurence of character 'n' in name is:4

# strip() :- solve problem with spaces

In [3]:
name="               manni    "
dots=" ............  "
print(name+dots)

               manni     ............

In [5]:
#lstrip():-remove left spaces.
name="               manni    "
dots=" ............  "
print(name.lstrip()+dots)

manni     ............

In [9]:
#rstrip():- remove right spaces
print(name.rstrip()+dots)
print(name.rstrip()+dots.lstrip())

               manni ............
               manni............

In [10]:
#strip():- remove left and right spaces.
print(name.strip()+dots.strip())

manni............

In [11]:
name="  mann  ideol"
print(name.strip())

mann  ideol

# It does not remove the middle spaces.
so, we use replace() method which remove whole spaces.

In [12]:
print(name.replace(" ",""))

mannideol

# replace() and find() method

In [10]:
# replace(old,new,count)
string="I am a good boy and i am good at study"
print(string.replace("am","was"))
print(string.replace("am","was",1))
print(string.replace("am","was",2))
print(string.replace("am","was",3))

I was a good boy and i was good at study
I was a good boy and i am good at study
I was a good boy and i was good at study
I was a good boy and i was good at study

In [16]:
#find()
print(string.find("am"))
print(string.find("am",1))
print(string.find("am",3))

2
2
22

In [19]:
# when we don't have knowledge of first am position and we have to find second am position.
am_position=string.find("am")
print(string.find("am",am_position+1))

22

# center()

In [22]:
name="manni"
print(name.center(7,"*"))
print(name.center(8,"*"))
print(name.center(9,"*"))

*manni*
*manni**
**manni**

In [23]:
name=input("enter your name:")
print(name.center(len(name)+8,"*"))

enter your name:manni
****manni****

# string are immutable

# we can't change character in a string , we can assign it to new variable.

In [25]:
string="manni"
string[2]="N"

TypeError: 'str' object does not support item assignment

In [27]:
string="manni"
print(string.replace("n","N"))
print(string)

maNNi
manni

# this can be happen as replace method doesn't change the original string , it gives the new string as output.

In [29]:
new_string=string.replace("i","ideol")
print(new_string)

mannideol

# some more assignment operator

In [31]:
name="manni"
name=name+"deol"
print(name)

mannideol

#now some pepole might think that how we can change 'name' variable if string are immutable?
remember in python we can change value of variable anytime.
but other methods can not change our string or we can not change particulat character from string
(immutability)

In [33]:
name="manni"
name+="deol"
print(name)

mannideol